@import "tailwindcss";

@theme {
    --font-sans: InterVariable, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}